.wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#zoomer {
	@extend ul.unstyled;
	position: fixed;
	right: 40px;
	top: 40px;
	z-index: 999;
}

#view-changer {
	min-width: 650px;
}


#loader {
	position: relative;

	img {
		position: absolute;
		top: -20px;
	}
}

#temperature-controls {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	background: #fff;
	background: rgba(255,255,255,0.5);
	padding: 1em;
	z-index: 9;
}

#temperature-reading {
	width: 50px;
	color: #ccc;
	border: 1px solid #ccc;
	margin: 1em 0 0 0;
	padding: 0.25em;
	text-align: right;
}

#temperature-reading-label {
	color: #ccc;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	background: transparent;
	background: rgba(255,255,255,0.75);
	padding: 0.1em;
	z-index: 99;
}