body {
	margin: 0;
	padding: 2%;
	background: linear-gradient(#fff,#ddd);
}

.zoomer {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

svg {
	margin: 0 auto;
	display: block;
	pointer-events: all;
}

svg text {
	fill: #333;
}

svg text .tspan-small {
	fill: #444;
}